
<h2>Update <%= character.name %></h2>

<form method="POST" action="/characters/<%= character.id %>/edit">
    <label>Name:<input type="text" name="name" value="<%= character.name %>"/></label>
    <label>Occupation:<input type="text" name="occupation" value="<%= character.occupation %>"/></label>
    <label>Weapon:<input type="text" name="weapon" value="<%= character.weapon %>"/></label>
    <input type="checkbox" name="dept"> is a Cartoon</label>

    <button type="submit">Change</button>
  </form>





